# Compilación
target/
build/
dist/

# Archivos temporales
*.log
*.tmp
*.bak

# IDEs
### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.classpath
.project
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
